<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Campus Recruit</title>

	<!-- Global stylesheets -->
	<link href="assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
	<link href="assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
	<link href="html/layout_6/full/assets/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="assets/demo/demo_configurator.js"></script>
	<script src="assets/js/bootstrap/bootstrap.bundle.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="assets/js/vendor/visualization/echarts/echarts.min.js"></script>
	<script src="assets/js/vendor/maps/echarts/world.js"></script>

	<script src="html/layout_6/full/assets/js/app.js"></script>
	<script src="assets/demo/charts/pages/dashboard_6/area_gradient.js"></script>
	<script src="assets/demo/charts/pages/dashboard_6/map_europe_effect.js"></script>
	<script src="assets/demo/charts/pages/dashboard_6/progress_sortable.js"></script>
	<script src="assets/demo/charts/pages/dashboard_6/bars_grouped.js"></script>
	<script src="assets/demo/charts/pages/dashboard_6/line_label_marks.js"></script>
    <script src="assets/demo/pages/datatables_basic.js"></script>
    <script src="assets/js/vendor/tables/datatables/datatables.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/jquery/jquery.min.js"></script>


	<!-- Theme JS files -->
	<script src="assets/js/jquery/jquery.min.js"></script>
	<script src="assets/js/vendor/tables/datatables/datatables.min.js"></script>

	<script src="assets/js/app.js"></script>
	<script src="assets/demo/pages/datatables_basic.js"></script>
	<!-- /theme JS files -->

</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-xl navbar-static shadow">
		<div class="container-fluid">
			<div class="navbar-brand flex-1">
				<!-- <a href="index.html" class="d-inline-flex align-items-center">
					<img src="assets/images/logo_icon.svg" alt="">
					<img src="assets/images/logo_text_dark.svg" class="d-none d-sm-inline-block h-16px invert-dark ms-3" alt="">
				</a> -->
				<a href="/studentDashboard" class="d-inline-flex align-items-center">
					<h1 class="page-title mb-0">Campus Recruit</h1>
				</a>
			</div>

			<div class="d-flex w-100 w-xl-auto overflow-auto overflow-xl-visible scrollbar-hidden border-top border-top-xl-0 order-1 order-xl-0 pt-2 pt-xl-0 mt-2 mt-xl-0">
				<ul class="nav gap-1 justify-content-center flex-nowrap flex-xl-wrap mx-auto">
					<li class="nav-item">
						<a href="/adminDashboard" class="navbar-nav-link rounded active">
							<i class="ph-house me-2"></i>
							Home
						</a>
					</li>

					<li class="nav-item nav-item-dropdown">
						<a href="/adminJobPosting" class="navbar-nav-link rounded">
							<i class="ph-rows me-2"></i>
							Job Posting
						</a>
					</li>

				</ul>
			</div>

			<ul class="nav gap-1 flex-xl-1 justify-content-end order-0 order-xl-1">


				<li class="nav-item nav-item-dropdown-xl dropdown">
					<a href="#" class="navbar-nav-link align-items-center rounded-pill p-1" data-bs-toggle="dropdown">
						<div class="status-indicator-container">
							<img src="assets/images/demo/userdemo.webp" class="w-32px h-32px rounded-pill" alt="">
							<span class="status-indicator bg-success"></span>
						</div>
						<span class="d-none d-md-inline-block mx-md-2"></span>
					</a>

					<div class="dropdown-menu dropdown-menu-end">
						<div class="dropdown-divider"></div>
						<a href="/adminLogout" class="dropdown-item">
							<i class="ph-sign-out me-2"></i>
							Logout
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Inner content -->
			<div class="content-inner">

				<!-- Page header -->
				<div class="page-header">
					<div class="page-header-content container d-lg-flex">
						<div class="d-flex">
							<h4 class="page-title mb-0">
								Home - <span class="fw-normal">Dashboard</span>
							</h4>
						</div>

						
					</div>
				</div>
				<!-- /page header -->


				<!-- Content area -->
				<div class="content container pt-0">

					<!-- Blocks with chart -->
					
					<!-- /blocks with chart -->

					<!-- Latest orders -->
					<div class="card">
						<div class="card-header">
							<h5 class="mb-0">Unvalidated Profile</h5>
						</div>

						<div class="card-body">
							These profiles need to be validated.
						</div>

						<table class="table datatable-pagination">
							<thead>
								<tr>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Student Id</th>
									<th>Email</th>
									<th>Contact</th>
									<th class="text-center">Actions</th>
								</tr>
							</thead>
							<tbody>
								<% for(let i=0;i<data.length;i++){ %>
									<tr>
									<td><%= data[i].firstName %></td>
									<td><%= data[i].lastName %></td>
									<td><a href="#"><%= data[i].studentId %></a> </td>
									<td><%= data[i].email %></td>
                                    <td><%= data[i].contact %></td>
									<td class="text-center">
										<div class="d-inline-flex">
											<div class="dropdown">
												<a href="#" class="text-body" data-bs-toggle="dropdown">
													<i class="ph-list"></i>
												</a>

												<div class="dropdown-menu dropdown-menu-end">
													<a href="#" onclick="validateProfile(<%= data[i].studentId %>)" class="dropdown-item">
														<i class="ph-file-pdf me-2"></i>
														Validate Profile
													</a>
													<a href="#" class="dropdown-item">
														<i class="ph-file-xls me-2"></i>
														Show full profile
													</a>
												</div>
											</div>
										</div>
									</td>
								</tr>  
								<%}%>	  
							</tbody>
						</table>
					</div>
					<!-- /latest orders -->
				</div>
				<!-- /content area -->


				<!-- Footer -->
				<div class="navbar navbar-sm navbar-footer border-top">
					<div class="container-fluid justify-content-center">
						<span>Campus Recruit &copy; 2023 </span>
					</div>
				</div>
				<!-- /footer -->

			</div>
			<!-- /inner content -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->




	<!-- Demo config -->
	<div class="offcanvas offcanvas-end" tabindex="-1" id="demo_config">
		<div class="position-absolute top-50 end-100 visible">
			<button type="button" class="btn btn-primary btn-icon translate-middle-y rounded-end-0" data-bs-toggle="offcanvas" data-bs-target="#demo_config">
				<i class="ph-gear"></i>
			</button>
		</div>

		<div class="offcanvas-header border-bottom py-0">
			<h5 class="offcanvas-title py-3">Theme configuration</h5>
			<button type="button" class="btn btn-light btn-sm btn-icon border-transparent rounded-pill" data-bs-dismiss="offcanvas">
				<i class="ph-x"></i>
			</button>
		</div>

		<div class="offcanvas-body">
			<div class="fw-semibold mb-2">Color mode</div>
			<div class="list-group mb-3">
				<label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-2">
					<div class="d-flex flex-fill my-1">
						<div class="form-check-label d-flex me-2">
							<i class="ph-sun ph-lg me-3"></i>
							<div>
								<span class="fw-bold">Light theme</span>
								<div class="fs-sm text-muted">Set light theme or reset to default</div>
							</div>
						</div>
						<input type="radio" class="form-check-input cursor-pointer ms-auto" name="main-theme" value="light" checked>
					</div>
				</label>

				<label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-2">
					<div class="d-flex flex-fill my-1">
						<div class="form-check-label d-flex me-2">
							<i class="ph-moon ph-lg me-3"></i>
							<div>
								<span class="fw-bold">Dark theme</span>
								<div class="fs-sm text-muted">Switch to dark theme</div>
							</div>
						</div>
						<input type="radio" class="form-check-input cursor-pointer ms-auto" name="main-theme" value="dark">
					</div>
				</label>

				<label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-0">
					<div class="d-flex flex-fill my-1">
						<div class="form-check-label d-flex me-2">
							<i class="ph-translate ph-lg me-3"></i>
							<div>
								<span class="fw-bold">Auto theme</span>
								<div class="fs-sm text-muted">Set theme based on system mode</div>
							</div>
						</div>
						<input type="radio" class="form-check-input cursor-pointer ms-auto" name="main-theme" value="auto">
					</div>
				</label>
			</div>

			
		</div>

		
	</div>
	<!-- /demo config -->

</body>
</html>

<script>
	var selected = <%-JSON.stringify(data)%>;
	console.log(selected);
</script>
<script>
    function validateProfile(studentId) {
      fetch(`/validateProfile?studentId=${studentId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => response.json())
      .then(data => {
		window.location.href = '/adminDashboard';
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }
  </script>